In [1]:
from sqlalchemy import text
from projeto import database, app
import pandas as pd

In [3]:
with app.app_context():
    conexao = database.engine.connect()
    consulta = text('SELECT * FROM usuario')
    resultado = conexao.execute(consulta)
    df = pd.DataFrame(resultado, columns=resultado.keys())
    conexao.close()

In [5]:
df

,id,username,email,senha
0,1,douglas.tinoco,douglas@douglas.com,b'$2b$12$9EGmsby/TpHzTk4WUdMqEOHLnGA/xfJRTT.0j...
1,2,teste.sistema,teste@sistema.com,b'$2b$12$wnIDC1lUB23ZTYQeS..mh.e755UJCGl69gCFm...